AI Models used:
    1. Simple AI - 
    2. Heuristic AI - Decides based on logics
    3. Monte Carlo AI (Rollout) - Runs 200-400 simualtions and decides based on that

TODO:
1. Spectators action buttons should be grey scaled or not visible.
2. Winners hand should be visible to all at the end of a hand
3. New hand button and the end of a hand and option to leave table must be visible
